[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
mypy = ">=0.641.0"
lxml = ">=4.2"
flake8 = ">=3.5"
flake8-bugbear = ">=18.8"
flake8-comprehensions = ">=1.4"
flake8-quotes = ">=1.0"
black = ">=18.3a0"
knitj = {editable = true, path = "."}
ipykernel = "*"
