{
    "parserOptions": {
        "ecmaVersion": 2016
    },
    "extends": [
        "airbnb"
    ],
    "rules": {
        "no-console": 0,
        "no-mixed-operators": 0,
        "no-param-reassign": 0,
        "space-infix-ops": 0,
        "no-alert": 0,
        "no-prototype-builtins": 0,
        "comma-dangle": ["error", {
            "arrays": "always-multiline",
            "objects": "always-multiline",
            "imports": "always-multiline",
            "exports": "always-multiline",
            "functions": "ignore",
        }]
    }
}
